/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Michroma&display=swap");

:root {
  /* background color */
  --bg-blue: #3772ff;
  --bg-dark-black: #08071b;
  --bg-gray-black: #0f1123;

  /* text color */
  --text-white: hsla(0, 0%, 100%, 1);
  --text-gray: #605e72;
  --text-blue: #3772ff;

  /* font family */
  --fontFamily-michroma: "Michroma", sans-serif;
  --fontFamily-dm-sans: "DM Sans", sans-serif;

  /* font size */
  --fontSize-1: 50px;
  --fontSize-2: 40px;
  --fontSize-3: 24rem;
  --fontSize-4: 22px;
  --fontSize-5: 20px;
  --fontSize-6: 18px;
  --fontSize-7: 16px;
  --fontSize-8: 14px;
  --fontSize-9: 30px;
  --fontSize-10: 15px;

  /* font weight */
  --weight-regular: 400;
  --weight-semiBold: 500;
  --weight-bold: 700;

  --section-spacing: 67.5px 0;

  /* BOX SHADOW */

  --shadow: 0px 2px 5px 0px hsla(0, 0%, 0%, 0.2);

  /*** BORDER RADIUS*/

  --radius-circle: 50%;
  --radius-4: 22px;
  --radius-3: 21px;
  --radius-2: 12px;
  --radius-1: 8px;

  /**
     * TRANSITION
     */

  --transition-1: 250ms ease;
  --transition-2: 500ms ease;
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
}

/*-----------------------------------*\
    #RESET
  \*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
time,
span,
input,
button,
textarea,
ion-icon {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
button,
textarea {
  background: none;
  border: none;
  font: inherit;
}

input,
textarea {
  width: 100%;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

address {
  font-style: normal;
}

address {
   font-style: normal;
 }
html {
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-dark-black);
  color: var(--text-white);
  font-family: var(--fontFamily-dm-sans);
  font-size: var(--fontSize-6);
  font-weight: var(--weight-regular);
  line-height: 1.6;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-dark-black);
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-blue);
  border-radius: 10px;
  visibility: hidden;
}

:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

/*-----------------------------------*\
    #REUSED STYLE
  \*-----------------------------------*/

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-inline: 12px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  align-items: center;
}

nav {
  display: flex;
  gap: 45px;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 45px;
  align-items: center;
}

nav ul li a {
  font-size: var(--fontSize-8);
  transition: var(--transition-1);
}

nav ul li a:hover {
  color: var(--text-blue);
}

nav .nav-btn button {
  background: var(--bg-blue);
  color: white;
  font-size: var(--fontSize-8);
  border-radius: var(--radius-4);
  height: 44px;
  width: 150px;
}

.menu-btn {
  cursor: pointer;
  display: none;
}

.menu-btn span:nth-child(1) {
  width: 20px;
  height: 3px;
  background: white;
  margin-bottom: 3px;
}
.menu-btn span:nth-child(2) {
  width: 15px;
  height: 3px;
  background: white;
  margin-bottom: 3px;
}
.menu-btn span:nth-child(3) {
  width: 10px;
  height: 3px;
  background: white;
  margin-bottom: 3px;
}

.section1 {
  display: flex;
  justify-items: flex-start;
  padding: 119px 0 67.5px 0;
  background-image: url("/images/hero\ image.svg");
  background-repeat: no-repeat;
  background-position: 82% 50%;
  background-size: 35%;
}

.s1-content {
  max-width: 50%;
  padding: 45px 0;
}

.s1-content h1 {
  font-size: var(--fontSize-1);
  font-family: var(--fontFamily-michroma);
  line-height: 80px;
  margin-bottom: 20px;
  font-weight: var(--weight-regular);
}

.s1-content h1 span {
  color: var(--text-blue);
  display: inline;
}

.s1-content p {
  color: var(--text-gray);
  font-size: var(--fontSize-6);
  line-height: 34.5px;
  font-weight: var(--weight-regular);
  margin-bottom: 25px;
}

.get-start {
  display: flex;
  gap: 10px;
}

.get-start a {
  text-decoration: underline;
  color: var(--text-blue);
  font-size: var(--fontSize-5);
  font-weight: var(--weight-semiBold);
}

.s1-counter {
  display: flex;
  gap: 120px;
  padding-top: 85px;
}

.counter h2 {
  font-family: var(--fontFamily-michroma);
  font-weight: var(--weight-regular);
  font-size: var(--fontSize-2);
}

.counter p {
  font-family: var(--fontFamily-dm-sans);
  font-size: var(--fontSize-4);
  color: var(--text-white);
}

/* section---2 */

.section2-bg {
  background-image: url("/images/map.svg");
  background-repeat: no-repeat;
  background-size: 48%;
  background-position: left center;
  padding: var(--section-spacing);
}

.section2 {
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
}

.s2-content {
  width: 48%;
}

.s2-content a {
  font-size: var(--fontSize-6);
  color: var(--text-blue);
  font-family: var(--fontFamily-dm-sans);
}

.s2-content h2 {
  font-size: var(--fontSize-9);
  font-family: var(--fontFamily-michroma);
  line-height: 48px;
  font-weight: var(--weight-regular);
  margin-bottom: 18px;
}

.s2-content p {
  font-size: var(--fontSize-7);
  color: var(--text-gray);
  margin-bottom: 20px;
  line-height: 30.4px;
}

/* section --------- 3 */

.section3 {
  padding: var(--section-spacing);
}

.s3-content {
  text-align: center;
}

.s3-content p {
  color: var(--text-blue);
  font-size: var(--fontSize-6);
}

.s3-content h2 {
  font-size: var(--fontSize-9);
  line-height: 48px;
  font-family: var(--fontFamily-michroma);
  font-weight: var(--weight-regular);
}

.s3-box .box {
  max-width: 400px;
}

.s3-box {
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 30px;
}

.box h3 {
  font-size: var(--fontSize-4);
  font-family: var(--fontFamily-michroma);
  font-weight: var(--weight-regular);
  margin-bottom: 21px;
}

.box p {
  font-size: var(--fontSize-7);
  line-height: 30.4px;
  color: var(--text-gray);
}

.box-image {
  position: relative;
}

.box-image .lines {
  display: flex;
  gap: 8px;
  position: absolute;
  top: 45%;
  right: 20%;
}

.box-image .lines span {
  width: 13px;
  height: 1px;
  background: white;
}

.box-image .lines span:nth-child(1) {
  width: 6px;
}

/* section ---------- 4 */
.section4 {
  padding: var(--section-spacing);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.s4-content {
  width: 48%;
}

.s4-content a {
  color: var(--text-blue);
}

.s4-content h2 {
  font-family: var(--fontFamily-michroma);
  font-size: var(--fontSize-9);
  line-height: 48px;
  font-weight: var(--weight-regular);
  margin-bottom: 18px;
}

.s4-content p {
  font-size: var(--fontSize-7);
  line-height: 30.4px;
  margin-bottom: 18px;
  color: var(--text-gray);
}

.s4-image img {
  width: 100%;
}

.section5 {
  padding: var(--section-spacing);
}

.s5-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.s5-item ul {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.s5-item ul li {
  font-size: var(--fontSize-8);
  font-weight: var(--weight-semiBold);
  text-align: center;
  transition: var(--transition-2);
  padding: 10px 15px;
}

.s5-item ul li:nth-child(1) {
  background: var(--bg-blue);
  color: white;
  border-radius: var(--radius-3);
}

.s5-item ul li:hover {
  color: white;
  border-radius: var(--radius-3);
  background: var(--bg-blue);
}

.s5-contents .content a {
  color: var(--text-blue);
  font-size: var(--fontSize-6);
}

.s5-contents .content h2 {
  font-family: var(--fontFamily-michroma);
  font-size: var(--fontSize-9);
  line-height: 48px;
  font-weight: var(--weight-regular);
}

table {
  width: 100%;
  text-align: center;
  overflow-x: scroll;
  border-collapse: collapse;
  border-radius: 20px;
}

thead tr th {
  border-bottom: solid rgb(120, 114, 114) 0.5px;
  padding: 0px 43px 27px 43px;
  font-size: var(--fontSize-6);
  font-weight: var(--weight-bold);
  color: var(--text-blue);
  margin: 0 16px;
}

tbody tr {
  border-bottom: solid rgb(143, 135, 135) 0.5px;
}

tbody tr td {
  padding: 27px 43px;
  font-size: var(--fontSize-7);
  font-weight: var(--weight-semiBold);
}

tbody tr:nth-child(6) {
  border: none;
}

.crypto {
  display: flex;
  align-items: center;
  gap: 7px;
  justify-content: center;
}

.cp-short {
  color: var(--text-gray);
  text-transform: uppercase;
  font-size: var(--fontSize-8);
}
.t-body {
  margin-top: 65px;
  background: var(--bg-gray-black);
  border-radius: 20px;
  padding: 60px 18px 0 18px;
  overflow-x: scroll;
}

/* section ---------6 */

.section6{
  padding: var(--section-spacing) ;
}

.s6-content-1 {
  width: calc(100% / 2 - ((0px * (2 - 1)) / 2));
}
.s6-content-1 a {
  color: var(--text-blue);
  font-size: var(--fontSize-6);
  font-weight: var(--weight-semiBold);
}

.s6-content-1 h2 {
  font-family: var(--fontFamily-michroma);
  font-size: var(--fontSize-9);
  line-height: 48px;
  font-weight: var(--weight-regular);
  margin-bottom: 26px;
}

.s6-content-1 p {
  font-size: var(--fontSize-6);
  font-weight: var(--weight-regular);
  margin-bottom: 21px;
  line-height: 30px;
}

.s6-content-1 p span {
  color: var(--text-blue);
  display: inline;
}

.s6-content-1 img {
  width: 69.71px;
}

.s6-content-2 {
  width: calc(100% / 2 - ((0px * (2 - 1)) / 2));
}

.s6-content-2 p {
  font-size: var(--fontSize-6);
  margin-bottom: var(--fontSize-7);
  line-height: 30px;
  font-weight: var(--weight-regular);
}

.s6-content-2 h3 {
  font-size: var(--fontSize-6);
  font-weight: var(--weight-bold);
}

.s6-content-2 h4 {
  font-size: var(--fontSize-8);
  color: var(--text-gray);
}

.s6-content-2 img{
  width: 78px;
}

.s6-contents{
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* gap: 30px; */
  /* flex-wrap: wrap; */
}

.section7{
  padding: var(--section-spacing);
}

.s7-bg{
  background-image: url("/images/background.svg");
  background-size: cover;
}

.s7-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.s7-content{
  max-width: 600px;
}

.s7-content a{
font-size: var(--fontSize-7);
font-weight: var(--weight-semiBold);
color: var(--text-blue);
}

.s7-content h2{
  font-family: var(--fontFamily-michroma);
  font-size: var(--fontSize-9);
  line-height: 48px;
  font-weight: var(--weight-regular);

}

.s7-btn{
  position: relative;
}

.s7-btn img{
width: 100%;
}

.s7-btn button{
  color: white;
  font-size: var(--fontSize-8);
  font-weight: var(--weight-semiBold);
  ;position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 30px;
  border-radius: var(--radius-4);
  background: var(--bg-blue);
}

@media only screen and (max-width: 1800px) {
  .section1 {
    background-size: 38%;
    background-position: 83%;
  }
}

@media only screen and (max-width: 1600px) {
  .section1 {
    background-size: 42%;
    background-position: 92%;
  }
}
@media only screen and (max-width: 1400px) {
  .section1 {
    background-size: 45%;
    background-position: 100%;
  }
}

@media only screen and (max-width: 1280px) {
  :root {
    --fontSize-1: 45px;
    --fontSize-7: 14px;
    --fontSize-6: 16px;
    --fontSize-10: 14px;
  }

  .container {
    max-width: 1024px;
  }
  .s2-content {
    width: 50%;
  }

  .s4-content {
    width: 45%;
  }

  .s4-image img {
    width: 500px;
  }

  .box-image .lines {
    right: 8%;
  }

  .s5-contents {
    flex-direction: column;
    row-gap: 50px;
  }

  .s5-contents .content {
    text-align: center;
  }

  .s5-item ul li {
    text-align: center;
  }
}
@media only screen and (max-width: 1024px) {
  /* responsive nav */

  .container {
    max-width: 912px;
  }

  body {
    position: relative;
  }

  .menu-btn {
    display: block;
  }

  nav {
    width: 100%;
    flex-direction: column;
    position: absolute;
    right: 0;
    padding: 80px;
    background: #000;
    top: -100%;
    transition: var(--transition-2);
    z-index: 9999;
  }

  .section4 {
    gap: 160px;
  }

  .s4-image img {
    width: 700px;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li a {
    font-size: var(--fontSize-9);
    font-family: var(--fontFamily-michroma);
  }

  nav .nav-btn button {
    font-size: var(--fontSize-9);
    width: 230px;
    height: 60px;
  }

  .active {
    top: 3%;
  }

  .s2-content {
    width: 100%;
  }

  .section2-bg {
    background-size: 42%;
  }
  /* 
  hero */

  .s1-content {
    max-width: 80%;
  }

  .section4 {
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }

  .s4-content {
    width: 100%;
  }

  .s4-image img {
    max-width: 700px;
  }

  .s6-contents{
    flex-direction: column;
    gap: 30px;
  }

  .s6-content-1{
    text-align: center;

  }

  .s6-content-1 img{
    margin: 0 auto;

  }

  .s6-content-2{
    width: 100%;
    text-align: center;

  }
.s6-content-2 img{
  margin: 0 auto;
}
  .s7-items{
    flex-direction: column;
    gap: 80px;
  }

  .s7-content{
    text-align: center;
  }
}
@media only screen and (max-width: 912px) {
  .container {
    max-width: 820px;
  }

  .section1 {
    background-size: 600px;
    background-position: center;
  }

  .glass {
    background: rgba(255, 235, 235, 0);
    box-shadow: 0 8px 32px 0 rgba(17, 21, 75, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 15px;
    position: relative;
  }

  .s1-content {
    color: white;
    position: relative;
    z-index: 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  .s2-content {
    background: rgba(255, 235, 235, 0);
    box-shadow: 0 8px 32px 0 rgba(17, 21, 75, 0.37);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 15px;
    padding: 15px;
    position: relative;
  }
}
@media only screen and (max-width: 820px) {
  :root {
    --section-spacing: 60px 0;
  }

  .container {
    max-width: 768px;
  }

  .section2-bg {
    background-size: contain;
  }
  .s1-content {
    max-width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  :root {
    --section-spacing: 60px 0;
    --fontSize-6: 16px;
    --fontSize-1: 40px;
  }
  .container {
    max-width: 640px;
  }

  .s1-counter {
    gap: 80px;
  }

  /* .section4{
    justify-content: center;
  } */

  .s4-image img {
    max-width: 500px;
  }

  .s6-content-1{
    width: 100%;
  }
}

@media only screen and (max-width: 540px) {
  :root {
    --fontSize-2: 30px;
    --fontSize-1: 30px;
    --fontSize-4: 18px;
    --fontSize-9: 25px;
  }

  .section1 {
    padding: 35px 0 17px 0;
  }

  .s1-counter {
    gap: 50px;
    padding-top: 35px;
  }

  .s4-image img {
    max-width: 100%;
  }

  .s3-box {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .s3-box .box {
    max-width: 600px;
  }

  .box-image .lines {
    position: relative;
    padding: 20px;
  }
}
@media only screen and (max-width: 430px) {
  :root {
    --fontSize-2: 20px;
    --fontSize-1: 23px;
    --fontSize-6: 14px;
    --fontSize-4: 14px;
  }

  .s1-counter {
    gap: 30px;
  }

  .s1-content h1 {
    line-height: 55px;
  }
}
@media only screen and (max-width: 412px) {
  :root {
    --fontSize-9: 20px;
  }
}
@media only screen and (max-width: 393px) {
}
@media only screen and (max-width: 390px) {
}
@media only screen and (max-width: 375px) {
}
@media only screen and (max-width: 360px) {
  :root {
    --fontSize-9: 18px;
  }
  .s4-image img {
    width: 100%;
  }
}
@media only screen and (max-width: 280px) {
}
